<nav class="navbar navbar-inverse bg-inverse">
    <p style="margin-bottom:0px;margin-top:5px;">Operator Interface</p>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
        </div>
        <div class="jumbotron jumbotron-fluid col-lg-4">
            <div class="container jumboContainer">
                <h1 class="display-4">Welcome!</h1>
                <p class="lead">Select one of the devices below to see the orders</p>
            </div>
        </div>
        <div class="col-lg-4">
        </div>
    </div>

    <div class="row initialButtons">

        <div class="col-lg-3"></div>


        <div class="col-lg-2">
            <ngbd-modal-component title="Laser Engraver"></ngbd-modal-component>
        </div>


        <div class="col-lg-2"></div>

        <div class="col-lg-2">
            <ngbd-modal-component title="3D Printer"></ngbd-modal-component>
        </div>

    </div>

    <br>
    <br>
    <br>

    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 imageContainer"><img src="./assets/emdenLeer.ico" id="emdenLeerLogo" /></div>
        <div class="col-lg-4"></div>
    </div>
</div>