/* You can add global styles to this file, and also import other style files */


/* styles for the login modal  */

div.modal-dialog{
    margin-top: 10%;
}

div.modal-content{
    border-radius: 0px;
}

/* end of styles for the login modal */

/* styles for the table of orders */
ng-table > div{
    overflow-x: auto !important;
    height: auto !important;
}

.table tbody tr td {
    padding: 0px;
    vertical-align: middle;
    text-align: center;
    font-size:16px;
}
.table tbody tr td div p{
    margin: 0px;
}
.table tbody tr td div br{
    display: none;
}
.table thead th {
    background-color: #292b2c;
    padding-bottom: 0px;
    padding-top:0px;
    font-size : 20px;
    color:white;
    font-style: normal;
}
.table{
    margin-top:10vh;
}

/* end of styles for the table of orders */
::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}
